[2014-04-10 02:17] lifeiteng opened #1 "replacing cblas and clapack, need your suggestions!"
Dear Field G. Van Zee:
What's the relationship between libflame and blis?
Does libflame covers all the operations in blis?
If I want to replace CBLAS and CLAPACK with libflame, what's your suggestions?

Thank you.
Best!
Feiteng

[2014-04-11 02:43] #1 closed, assigned to nobody

[2015-05-10 18:14] dpo opened #3 "clang: argument list too long"
On OSX with clang, I'm enabling `--enable-max-arg-list-hack` and that fixes the archiving of the static library. But clang still fails to build the dynamic library and errors out with the message "argument list too long". What's the way to circumvent that one?

Thanks.

[2015-05-11 16:15] fgvanzee commented on #3
The max-arg-list hack isn't implemented for shared object generation, just static archive. I'll work on a fix.

[2015-05-24 03:51] poulson opened #4 "Invalid Makefile generated by configure"
After a vanilla ``./configure`` call with the current dev branch on a recent version of Ubuntu (15.04), running ``make`` immediately fails with the following output:
   ``Makefile:394: *** recipe commences before first target.  Stop.``

The relevant line is:

           @echo "Archiving $@"

and it is surrounded by:

    # --- Static library archiver rules for libflame ---
    $(MK_ALL_FLAMEC_LIB)

[2015-08-27 16:32] fgvanzee commented on #4
For future readers/lurkers: A workaround to this build system issue is described in a sticky topic at [libflame-discuss](http://groups.google.com/group/libflame-discuss).

[2015-08-27 16:32] #4 closed

[2016-01-12 12:21] jeffanor opened #7 "Building on MacOS"
I'm building on MacOS with gcc instead of clang. This requires forcing use of the clang integrated assembler.

CFLAGS += -Wa,-q

[2016-02-10 05:38] gaming-hacker commented on #7
gcc is the same as clang only with different libs included, are you sure you are linking to gnu gcc?  i usually have suffix like gcc-5 or gcc-6.

anyway, this won't build a shared lib. if it is like libblis, the internals are completely mangled.  it took 2 days of hacking the blis makefile to get to maked shared libs.  here is flame output

as you can see it thinks, osx uses linux shared object ex

[2016-02-10 16:37] fgvanzee commented on #7
@gaming-hacker If you are stuck at the error you inlined in your previous message, it looks like you need to use the `--enable-max-arg-list-hack` configure-time option to get around the hard-coded command line argument limit in OS X. Have you tried that?

Yes, shared library support in libflame (and BLIS) is horrible. Sorry. We don't have a lot of expertise with shared libraries here in our group,

[2016-02-14 05:30] gaming-hacker commented on #7
hi, i did enable the hack but the build fails with ranlib.  i grabbed the object files and made the static lib.  the shared lib patch is still ongoing, it's almost easier to use my existing makefile rather than patching the existing one.

[2016-03-22 07:25] kvaragan opened #8 "Seg Fault in test_libflame.x when using libblis as BLAS library with libflame"
I am using fortran interfaces, I am checking Cholesky factorization performance. one thing I noticed when debugging seg fault in test_libflame.x application. The pointer to int (4bytes) is type-casted to f77_int* (int64_t* - 8 bytes) in blis library - This eventually results in crash. For more details:
check the function **bl1_sscal(int n, float* alpha, float* x, int incx )** in _bl1_scal.c_ file.

[2016-07-14 13:04] lejeczek opened #9 "confiugre/make installation directories directive and no effect?"
should something like:
--prefix=/local.CPUnative --includedir=/local.CPUnative/include/libflame --libdir=/local.CPUnative/lib/libflame
be expected to make install to respective dirs? Because it has not effect.

make install also fails symlinking if PREFIX/inlude dir already exists.

System: centos 7.2 + devtools 4

[2016-07-14 15:51] fgvanzee commented on #9
@lejeczek The `--includedir` and `--libdir` options have no effect in libflame's configuration script. They are a byproduct of the fact that `configure` is generated via GNU `autoconf`, and there is no easy way for me to remove mention of them from the output of `configure --help` (which has bothered me for years). The `--prefix=PREFIX` option, however, is honored.

As for the symlink failure, thi

[2016-09-14 14:22] musm opened #10 "Revision string unkown and problems compiling"
First issue is that
[code]

Ignore the revision string. I then tried to build, which errors....
[code]

[2016-09-15 20:44] fgvanzee commented on #10
@musm, Unfortunately, the windows build system has fallen into disrepair over the years. We don't have enough Windows users, nor the right kind of expertise, to justify supporting it. We apologize for the inconvenience.

[2016-09-15 20:44] #10 closed

[2016-09-15 20:47] jeffhammond commented on #10
@musm https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux is your best option here.

[2017-05-25 05:27] iotamudelta commented on #7
I can confirm that this is also an issue on FreeBSD as of the latest revision. The max-arg-list-hack only applies to the static library, however, to make BLIS/libflame a full BLAS/LAPACK option for FreeBSD ports, we need both the static and shared libraries. I take it there is no update w.r.t. solving this issue?

[2017-05-25 16:37] fgvanzee commented on #7
@iotamudelta Unfortunately, at this time we do not have the expertise/time/resources to fix the issue for shared libraries on OS X. I would, however, happily accept a pull request that addresses the problem.

[2018-01-16 14:46] sgsokol commented on #3
I propose the following hack, first create a target.in file with all .o names to be put in .so library then link using @target.in :
[code]

[2018-01-16 23:36] fgvanzee commented on #3
Thanks for chiming in, @sgsokol. `-fPIC` is already included in the `CFLAGS` variable at compile-time. Also, `-shared` is included in `$(SOFLAGS)`, e.g.:
[code]
As for your proposed hack, I'm unfamiliar with some of the syntax, specifically `@$@`. Would you  would you mind explaining what your modified lines do?

[2018-01-17 09:23] sgsokol commented on #3
'ld' command has a syntax '@file' that allows to read options from 'file' (here names of .o files). So if '$@' is 'libflame.so' then '@$@.in' will becomes '@libflame.so.in'.

[2018-01-17 09:25] sgsokol commented on #3
'ld' command has a syntax '@file' that allows to read options from 'file' (here names of .o files). So if '$@' is 'libflame.so' then '@$@.in' will becomes '@libflame.so.in'.

[2018-01-17 12:49] sgsokol commented on #3
Regarding `-fpic`, I don't know why by I had to add it by hand.
Another point, I was told that `-fPIC` is not available for all compilers. May be `-fpic` is better from this point of view (not sure as not checked by myself)

[2018-01-19 19:03] fgvanzee commented on #3
@sgsokol Thanks for your explanation vis-a-vis the `@file` notation for `ld`; I had forgotten that it accepted this syntax.

Now, could you explain the syntax of the first line?
[code]
This looks like you're executing the `file` command via a `make` sub-shell, but the `file` command queries the file type of its arguments, so I don't see how that would be useful here.

[2018-01-20 12:31] sgsokol commented on #3
It's not a subshell but a gmake function. The first argument gives the operation to do (here it will expand to  `>libflame.so.in`, i.e. write to this file erasing its previous content if any), the second one is the content to write (here the list of updated .o objects)

[2018-01-22 10:15] sgsokol commented on #3
A thought afterword, it would be more appropriate to write `$(file >$@.in,$^)` as `$^` refers to all dependency objects, not only to the newer than the target ones (as `$?` does). For a static library, `$?` is perfectly working as we can just update new compilations in an existent archive while for shared library we have to add all objects at once at the moment of library creation.

[2018-01-23 10:50] sgsokol commented on #3
Thanks for the commit. As I have already mentioned it, I cannot get a .so if I don't add by hand `-fpic` or `-fPIC`. Here is my config and relevant output:
[code]

[2018-01-23 18:32] fgvanzee commented on #3
@sgsokol Thanks for providing your `configure` command. I think I know what the problem is now.

You may or may not have been aware of this, but you don't need to set `CFLAGS` manually. `configure` will choose a set of flags that is suitable and near-optimal. Now, that said, if you **do** set `CFLAGS` manually, you are effectively telling `configure` that you want your `CFLAGS` to completely overr

[2018-01-24 13:26] sgsokol commented on #3
Right. With EXTRA_CFLAGS it works like a charm. I've could discover it my myself by more thorough reading of `configure --help` but I didn't. Thanks for making me discover this approach.
BTW, if an option `--enable-verbose-make-output` is activated then it makes fail the current hack with too long list of names for .so.

[2018-01-24 17:30] fgvanzee commented on #3
@sgsokol Yes, I forgot to extend the fix to the verbose case. Sorry, and thanks for pointing this out. fbb613a should take care of it.

[2018-01-24 22:34] #3 closed

[2018-01-25 10:37] sgsokol opened #12 "libflame and R"
I am trying to replace standard lapack library in R by libflame to see if any gain can be obtained. Unfortunately, libflames.so fails to load with the following error message:
[code]
Don't be confused, here, `libRlapack.so` is just a symlink to libflame.so which was compiled with
[code]
The lacking symbol `blas_zhemv2_x_` is used in calls found in `map/lapack2flamec/f2c/c/zla_herfsx_extended.c`
an

[2018-01-25 17:32] fgvanzee commented on #12
@sgsokol Yes, I agree that unused symbols should not be referenced. This issue probably went unnoticed for so long because very few people use a shared library builds of libflame.

I'll look into it.

[2018-01-25 17:55] fgvanzee commented on #12
@sgsokol Try out 5151689, which disables the code found in the `map/lapack2flamec/f2c/c/?la_*_extended.c` files. Hopefully that takes care of all of the unresolved symbols, but if there are more, we'll iterate until they're all gone. Thanks for your bug report.

[2018-01-26 11:21] sgsokol commented on #12
Thank for the patch and possibility to iterate.
This time I have:
[code]

[2018-01-26 21:33] fgvanzee commented on #12
@sgsokol Yes, of course--I disabled the code that *defines* the xblas functions but forgot to disable the code that *calls* those functions. I'll work on it.

[2018-01-26 23:49] fgvanzee commented on #12
@sgsokol Okay, give 16b5591 a try. Thanks for your patience.

[2018-01-29 10:13] sgsokol commented on #12
Next round ;)
[code]

[2018-01-29 10:56] sgsokol commented on #12
Oups...
After some searching it's a problem of libf2c.so. It was not installed on my system (may be `./configure` should test for it?). After installation, I've got a lacking `MAIN__` symbol which I had to disable manually. Now, it compiles well with `LIBS=`"-lopenblas -u MAIN__ -lf2c"` and it loads well in R too. Now I have to do some tests to see if any acceleration can be detected.

[2018-01-29 17:26] fgvanzee commented on #12
@sgsokol Our goal is to obviate `libf2c`. We do not want libflame to need it. My understanding was that this was feasible, so long as libflame provided all of the parts of `libf2c` that are needed, but I am not an expert on this particular topic, so I could be wrong.

BTW, I would test the linking myself, but I'm having trouble on my end. I get countless undefined reference errors about symbols th

[2018-01-29 17:48] fgvanzee commented on #12
@ I have found an implementation of `libf2c`. I will try to import just the components needed in order to satisfy the symbols in libflame. (Hopefully this is not a a fool's errand.)

As for the `MAIN__` symbol, it should not be there. I will fix that too.

[2018-01-29 18:17] fgvanzee commented on #12
@sgsokol I managed to make progress with linking the libflame testsuite driver to `libflame.so`. We are down to just three missing symbols:
[code]
Note that I already removed the reference to the missing `MAIN__` symbol. I will continue to work on this. Thanks again.

[2018-01-29 23:50] fgvanzee commented on #12
@sgsokol I can now successfully link the test suite to `libflame.so`. Try 3bc0286 and let me know how it goes. (Note that you should no longer need `-lf2c`, nor do you need to accommodate the `MAIN__` symbol. The only dependency that libflame should have now is `libc`/`libm`, which may be automatic in your case of linking with R, and `-lpthreads` if you enabled POSIX threads.)

[2018-01-30 10:41] sgsokol commented on #12
It went well without `-lf2c` neither `-u MAIN__`.
Now, in R, I have compared the timing of native lapack and libflame and found
it very close, e.g. around 1.09 s for SVD of 1000x1000 matrix and around 0.19 s for QR
of the same matrix. Do you have equal timings on your side too for those operations or
have I missed some magic configuration parameter?

[2018-02-14 21:56] fgvanzee commented on #12
@sgsokol First, sorry for the long delay. I composed a reply and forgot to send it! :( That reply is below.

Glad we finally got it working. Thanks for your help along the way.

I can't comment on your timings since we likely are using different hardware. If the underlying BLAS are optimized, there isn't much to tune in SVD, if I recall correctly.

Also, whatever numbers you get, keep in mind ther

[2018-06-02 23:29] iotamudelta opened #14 "dynamic linking failure"
This looks similar to the BLIS issue I had reported there and had been fixed. A bunch of these happen:

`/usr/bin/ld: error: can't create dynamic relocation R_X86_64_PC32 against symbol: FLA_Obj_attach_buffer in readonly segment; recompile object files with -fPIC

upon linking with lld 6.0.0 on FreeBSD 12-HEAD

[2018-06-02 23:31] fgvanzee commented on #14
@iotamudelta Do you happen to remember which BLIS issue that was?

[2018-06-02 23:32] iotamudelta commented on #14
@fgvanzee [#179](https://github.com/flame/blis/issues/179)

[2018-06-02 23:42] fgvanzee commented on #14
Thanks. I think it was commit [8912e68](https://github.com/flame/blis/commit/8912e6886b97eabb4ce0c35a3609a0fd994d347b) that fixed your issue. I'll look into this for libflame.

[2018-06-02 23:44] iotamudelta commented on #14
Thanks for looking into this!

[2018-06-02 23:47] fgvanzee commented on #14
@iotamudelta Actually, could you first confirm that you configured with `--enable-dynamic-build`? `configure` disables shared library generation by default.

BTW, you may want to check out the script `run-conf/run-configure.sh`. It allows you to easily enable/disable lots of options and see them all at once. The options there are *mostly* defaults, but if in doubt, you should run through the list

[2018-06-02 23:51] iotamudelta commented on #14
@fgvanzee Yes, I am enabling both dynamic and shared:

` $ ./configure --enable-dynamic-build --enable-max-arg-list-hack --enable-lapack2flame --enable-multithreading=pthreads --enable-supermatrix --disable-autodetect-f77-ldflags --disable-autodetect-f77-name-mangling --enable-vector-intrins
ics=none --disable-ldim-alignment --prefix=/usr/local --localstatedir=/var --mandir=/usr/local/man --infodi

[2018-06-03 00:02] fgvanzee commented on #14
That looks fine, except that there is a stray space in the vector intrinsics option. Also, be aware that all of the options after `--prefix` are currently ignored by libflame's `configure`. (Not ideal, I know. libflame, its build system included, deserves a lot of TLC that I can't really spare right now, and that would be one of the things I'd address.)

[2018-06-03 00:10] iotamudelta commented on #14
That space may be wrap around, it is correct in the config.log .

Thanks for letting me know concerning prefix. I don't think these options matter (they are auto-options coming from FBSD)

[2018-06-03 00:12] fgvanzee commented on #14
I did a build of libflame with compile-time verbosity enabled, and I confirmed that `-fPIC` was used to compile every file. (And I observed no errors when the `.so` was generated.) I didn't use exactly your configure options, though, and I hadn't pulled in your recent pull request commit. So I'm reconfiguring/recompiling to be sure.

[2018-06-03 00:19] iotamudelta commented on #14
@fgvanzee I am also recompiling, will take some time. Could this be some OS-dependent switch?

[2018-06-03 00:27] fgvanzee commented on #14
@iotamudelta My rebuild yielded the same result: I can't reproduce your error. :-\

It's anyone's guess.

Perhaps you could try the following (after pulling in a very recent commit in which I added support for `V=1`):
[code]
As you can see, the above output suggests that the only line in the output that did not contain -fPIC was the shared object link command.

If you want the build to go faster f

[2018-06-03 02:33] iotamudelta commented on #14
OK, first recompilation yielded the same linking error, so I am not being crazy. Indeed subsequent verbose compilation indicates that none of the files get fPIC passed, so it's probably an OS or compiler dependent problem (since FreeBSD uses cc which is clang). I'll see if I can locate it.

[2018-06-03 03:13] iotamudelta commented on #14
I believe this is due to the ports collection defining CFLAGS and if CFLAGS are defined, the libflame make system overrides whatever flags it came up with internally with these CFLAGS. I guess there are good reasons for doing that as opposed to appending the internal CFLAGS to the external ones?

[2018-06-03 18:02] fgvanzee commented on #14
@iotamudelta Yeah, that would do it. In theory, the idea of overriding `CFLAGS` was always nice, but I'm not sure in practice how man people used it. (My guess is the number is very small.)

I see two options:
1. Change the variable name to something else, such as `OVERRIDE_CFLAGS`. Only if this value is non-empty does it override `CFLAGS`. If it is empty, libflame's compiler options are appended

[2018-06-03 18:52] iotamudelta commented on #14
@fgvanzee It seems to me then that 1) is the better option? I do agree that numerical libraries are really not the kind of thing you want to apply random flags to.

[2018-06-03 19:07] fgvanzee commented on #14
@iotamudelta I'm leaning toward (2). Unless you have an immediate need for `OVERRIDE_CFLAGS`, I suggest we punt until someone asks for it.

[2018-06-08 02:35] iotamudelta commented on #14
@fgvanzee took a bit longer than I hoped since I needed to fix some more items in the port but it seems to work now. Works,thank you so much!

One more question: ldd on the shared library does not point to anything but libc. How can I see from the compilation if it correctly picked up BLIS as its external BLAS dependency?

[2018-06-08 03:13] iotamudelta commented on #14
@fgvanzee NM, I see the BLAS symbols appear as undefined - so all should be well. Closing this, thanks again!

[2018-06-08 03:13] #14 closed

[2018-06-08 17:09] fgvanzee commented on #14
@iotamudelta Yes, BLAS is not integrated into libflame. (It actually has an optional built-in BLAS, but it is not included by default and few people use it since it is low-performance.) The user must link against his preferred BLAS when building the application.

[2019-03-11 17:31] JohnCC330 commented on #9
`Slackware`'s library directory is `/usr/lib64`. If `libdir` doesn't work (I just had the same install error as above), how do I have to install `libflame`? Could you provide a list of symlinks that have to be in place to get `libflame` correctly work as a replacement of `lapack`? (`blis` installed correctly, it seems)

Error message:
[code]

`./configure --prefix=/usr --libdir=/usr/lib64 --enable

[2019-03-18 17:31] fgvanzee commented on #9
@JohnCC330 Sorry for the delayed response, and thanks for your comment. The assumptions made during installation of libflame are definitely sub-optimal. (I've been focusing all of my time on BLIS, so I haven't had time lately to fix these sorts of rough edges in libflame.)

The short answer is: for now, you need to install libflame in its own separate directory prefix. For example, use: `--prefix=

[2019-04-09 20:30] fgvanzee commented on #9
@JohnCC330 I wanted to give you a quick update. My schedule opened up a bit and I have decided to spend a little bit of time making some much-needed updates to libflame's build system. If you are still interested, I can try to add support for separate `--libdir` and `--includedir`, in addition to the already-supported `--prefix` option.

I'm also going to bring libflame's library naming and symlin

[2019-04-10 23:15] JohnCC330 commented on #9
On Tue, 09 Apr 2019 20:30:27 +0000 (UTC)
"Field G. Van Zee" <notifications@github.com> wrote:

Seems like a very promising project. I'm not entirely sure if it will be
easy though. Some thoughts:

- I've never used (needed) '--includedir' in any project. Shouldn't a
consultation through pkg-config resolve that?

- Most problems appear here (Slackware64) because it installs 64-bit
libraries in /usr

[2019-04-10 23:46] fgvanzee commented on #9
@JohnCC330 Thanks, John. I could definitely use your help. In general, if you could just describe which `configure` options you expect to be available, and/or other build system behavior that you rely upon, I can try to implement that behavior. (You've already mentioned a few items, but I may need to ask some follow-up questions to make sure I understand your needs.)

BTW, others will surely benef

[2019-04-15 21:24] fgvanzee commented on #9
@JohnCC330 Hi John. Give 727edd8 a try. It conforms more closely to GNU standards for library naming, library installation, and installation prefix manipulation, and contains other goodies for convenience and build-time usability. It's not perfect, but it should be a big improvement from before.

[2019-04-16 18:47] JohnCC330 commented on #9
I should be preparing my classes, but couldn't resist trying to at least compile...
Configuration seem to run fine...
Make halts on this:

`src/lapack/red/bidiagut/front/flamec/FLA_Bidiag_UT_realify.c:485:16: warning: variable ‘m_A’ set but not used [-Wunused-but-set-variable]
   int          m_A, n_A;
                ^~~
Compiling src/lapack/red/bidiagut/front/flamec/FLA_Bidiag_UT_recover_tau.c
C

[2019-04-16 19:01] JohnCC330 commented on #9
It's really [a bit more confusing](https://askubuntu.com/questions/14081/what-is-the-maximum-length-of-command-line-arguments-in-gnome-terminal), but 209297 is still more than is available:

[code]

[2019-04-16 19:35] fgvanzee commented on #9
@JohnCC330 This is a very typical error message on some operating systems. [Here](https://www.in-ulm.de/~mascheck/various/argmax/) is another good resource on the topic. Frustratingly, this issue does not manifest in every environment / operating system. Most Linuxes have their `ARG_MAX` set very high, or are effectively unlimited.

But you are in luck: we have a workaround! Try running `configure

[2019-04-16 19:36] fgvanzee commented on #9
@JohnCC330 For your curiosity, my Haswell workstation running Ubuntu 16.04 returns:
[code]

[2019-05-10 06:15] oroppas opened #16 "Unable to configure vector intrinsic when using clang"
configure doesn't know how to set sse flag for `clang`

[code]

[2019-05-10 17:46] jeffhammond commented on #16
Can you provide the full configure invocation, Clang version and platform details?

[2019-05-10 17:57] jeffhammond commented on #7
Is this still an issue?  I have no issue configuring and compiling BLIS on MacOS Mojave with Homebrew's GCC 8 compiler.

[code]

[code]

[2019-05-13 06:09] migueldiascosta opened #17 "missing symbols in static library"
Hello,

I'm building libflame with `-enable-max-arg-list-hack --enable-lapack2flame` and it seems to be fine but then when I try to build scalapack with it, linking with the static libflame, building the tests/examples fail with

[code]
(I suppose this is simply the first case where it fails, all the `_check` symbols seem to be missing form the static library, from the output of `nm`)

If I build

[2019-05-13 06:50] oroppas commented on #16
../libflame/configure \
  --prefix=$HOME/local \
  --enable-lapack2flame \
  --enable-vector-intrinsics=sse

clang --version
clang version 6.0.0 (tags/RELEASE_600/final)
Target: x86_64-unknown-linux-gnu
Thread model: posix

Linux 3.10.0-514.6.1.el7.x86_64

[2019-05-13 06:50] oroppas commented on #16
../libflame/configure \
  --prefix=$HOME/local \
  --enable-lapack2flame \
  --enable-vector-intrinsics=sse

clang --version
clang version 6.0.0 (tags/RELEASE_600/final)
Target: x86_64-unknown-linux-gnu
Thread model: posix

Linux 3.10.0-514.6.1.el7.x86_64

[2019-05-14 13:54] jeffhammond commented on #16
I cannot reproduce this with Ubuntu 18.04 (ubuntu-18-04 4.15.0-48-generic) and Clang 6.0.0.

[2019-05-14 13:55] jeffhammond commented on #16
Can you verify that the `-msse3` flag works with your compiler with a trivial program?

[2019-05-14 19:24] fgvanzee commented on #17
Hi @migueldiascosta, thanks for this feedback and your interest in libflame. I'll try to look into this soon. (I've been on vacation and am just now getting back.)

[2019-05-16 03:28] oroppas commented on #16
Actually, how I configure was not exactly like I posted since I set something

[code]

and setting `CC` with absolute path confused the `configure`.

Thank you for verifying on ubuntu.

[2019-05-16 03:28] #16 closed

[2019-05-16 03:31] oroppas opened #18 "out of source build is not supported?"
if I build out of source

[code]

I get

[code]
etc.

Can I safely ignore these messages?

[2019-05-16 03:32] jeffhammond commented on #16
I guess it’s not a high priority but we should fix configure to let you do this. I’m sure there’s some easy shell magic to strip the path so that the compiler name can be processed appropriately.

[2019-05-16 17:58] fgvanzee commented on #16
I don't even think that's the issue. I tried:
[code]
and libflame seemed to proceed with compilation just fine. Running `make V=1`, I was able to confirm that `/usr/bin/clang` was indeed being run, as expected.

The problem is likely the fact that @oroppas was trying to build out-of-tree, which I did not explicitly design libflame's build system to support. (It may *almost* work by dumb luck, but

[2019-05-16 18:01] fgvanzee commented on #18
@oroppas Thanks for this report. No, you probably shouldn't ignore these messages. As I mentioned in issue #16, the current treatment of the `version` file doesn't allow out-of-tree builds. I will tinker with this to see if there is an easy fix.

[2019-05-17 19:15] fgvanzee commented on #18
@oroppas Well, it wasn't really an easy fix, but it's done now; commit 588bdd1 should support out-of-tree builds. Thanks again for your feedback. Please let me know if you encounter any further issues.

[2019-05-17 22:24] fgvanzee commented on #17
@migueldiascosta The problem seemed to date back years. It appears that the author of the lapack2flame compatibility layer erroneously named the source files that contained the `_check()` functions the same as the files containing the actual operation (e.g. `zhetrd.c`). Of course, they both got compiled with a simple `.c` to `.o` translation. Thus, when the static archiver archived the object file

[2019-05-17 22:28] fgvanzee commented on #18
BTW, you'll want to try the head of the `master` branch; I've since committed d2a8419 as part of issue #17, which fixes a couple issues with the lapack2flame layer, one of which was introduced in 588bdd1.

[2019-05-18 04:35] oroppas commented on #18
Great. I can build out of tree. Thanks!

[2019-05-18 04:35] #18 closed

[2019-05-18 14:03] oroppas opened #19 "FLA_lapack2flame_return_defs.h is missing when built out of tree"
if I build with `--enable-lapack2flame` out of tree

[2019-05-18 20:07] fgvanzee commented on #19
Thanks for this report. Try out 5c154a9; I think I fixed it.

[2019-05-19 01:16] oroppas commented on #19
Works like a charm. Thanks!

[2019-05-19 01:16] #19 closed

[2019-05-21 04:01] migueldiascosta commented on #17
thanks @fgvanzee - the filename issue does seem to be the problem. However, now I'm getting an ` undefined reference to 'chetrd_'` (and again, with the dynamic library it works)

Inspecting the library for `chetrd`, I see

[code]

but for instance for `zhetrd`,

[code]

why would `chetrd` and `zhetrd` be packaged differently?

[2019-05-21 18:45] fgvanzee commented on #17
@migueldiascosta Thanks for your additional feedback. You're right that there were additional instances of object file collisions. (Once again, dissimilarly-named functions were placed in similarly-named source files.) Try 57e6459 and let me know.

[2019-05-22 03:08] migueldiascosta commented on #17
@fgvanzee success, thanks! :)

Btw, are there any plans for a release? (last one was in 2014?)

[2019-05-22 15:42] setht opened #20 "undefined symbol: dpotrf_"
Hi, I've ran the install of libflame and when I switch the lapack to libflame and run R, I get this message.

[code]

I've just downloaded the latest version from github. I also run into this error when I try to make with the standard config ./run-conf/run-configure.sh:
`make: execvp: /usr/bin/env: Argument list too long`

But when I adjust the run-configure.sh to include:
`--enable-max-arg-list-h

[2019-05-22 21:33] fgvanzee commented on #20
Hi @setht, thanks for your feedback.

I can't really help you troubleshoot R, but I will say that I've confirmed that `dpotrf_()` is part of libflame as of 57e6459:
[code]
The shared library seems to have it too:
[code]
As for the `--enable-max-arg-list-hack` option, double-check your `run-configure.sh` and make sure there are no trailing spaces after the backslash characters `\`. When I inserted

[2019-05-22 21:37] fgvanzee commented on #17
@migueldiascosta For now, I have no plans for a new official release. That could change in the short-term, though.

May I ask how a release (or its absence) affects your work?

[2019-05-22 21:39] fgvanzee commented on #20
After editing my post above to show use of `--enable-lapack2flame`, it occurred to me that I didn't confirm that you were using this `configure` option. The LAPACK compatibility layer is disabled by default and must be enabled at configure-time via this option.

[2019-05-23 06:24] migueldiascosta commented on #17
@fgvanzee right now I'm merely trying out different combinations of linear algebra libraries, so right now it doesn't

but if I were to consider defining and using a toolchain [1] including libflame and maintaining a software stack based on it, releases would matter (dependencies are hell even *with* proper releases, semantic versioning, etc., ...)

[1] in this context, https://easybuild.readthedo

[2019-05-23 15:22] fgvanzee commented on #17
@migueldiascosta Thanks for that background. I'll certainly take this into consideration.

Just know that libflame is currently in "maintenance mode"; most of my time these days is being spent on BLIS development. So, you shouldn't expect any major changes to libflame in the near future. (Maybe that's actually a good thing in your view?)

Someday, I aim to begin reimplementing key parts of libflam

[2019-06-17 00:48] setht commented on #20
Yes this was exactly what was happening, this resolved it. Thanks.

[2019-06-17 00:48] #20 closed

[2019-07-31 13:57] s-sajid-ali opened #21 "Build error for master branch"
Hi libflame developers,

I've made a spack package recipe for libflame : [[1](https://github.com/spack/spack/pull/12193)]. I've patched the makefile as described for the release version and I can build it.

But when I try to build from master branch I get the following error :
[code]

Relevant logs are available here : [[2](https://northwestern.box.com/s/xvw4eoy32a9to2etm1hcs9cuyk4vfhrl)]

[2019-07-31 17:25] fgvanzee commented on #21
You are running into the `ARG_MAX` limit [1]. Please configure with the `--enable-max-arg-list-hack` option.

(Also, thank you for moving your queries to the issue page on github. We prefer to reserve the mailing lists for discussions not directly related to troubleshooting.)

[1] https://www.in-ulm.de/~mascheck/various/argmax/

[2019-08-01 14:48] s-sajid-ali commented on #21
thank you!

[2019-08-01 14:48] #21 closed

[2019-08-06 15:06] s-sajid-ali opened #22 "Build error for release with default gcc on CentOS"
Hi libflame developers,

I'm seeing the following error when I attempt to build the 5.1.0 release with gcc-4.8.5 on centOS 7.5.

[code]
The build recipe I'm using is here [1](https://github.com/adamjstewart/spack/blob/packages/py-numpy/var/spack/repos/builtin/packages/libflame/package.py).

[2019-08-06 17:24] adamjstewart commented on #22
I encountered the same problem. Note that this has been fixed in the `master` branch. If you tell us what commit may have fixed this, we can add a patch to the Spack package for `libflame`.

[2019-08-08 20:28] fgvanzee commented on #22
@s-sajid-ali Try the latest commit (bafe30f). I realized that the `version` file was listed in the `.gitignore`, which was causing `version` to not be version-controlled.

[2019-08-08 20:56] adamjstewart commented on #22
@fgvanzee I tried applying this patch to the latest release tarball but the build still crashes with:
[code]
I don't think that's the commit that fixed the issue.

[2019-08-08 20:58] fgvanzee commented on #22
@adamjstewart Could you remind me: are you using the `ARG_MAX` hack (e.g. `--enable-max-arg-list-hack`) at configure-time?

[2019-08-08 20:59] adamjstewart commented on #22
@fgvanzee Yes, the exact configure line is:
[code]

[2019-08-08 21:00] fgvanzee commented on #22
@adamjstewart Also, are you literally using a release tarball (ie: 5.1.0)? We have not put out a release in ages. The only thing we "support" at this point is the head of the `master` branch. I highly recommend only using `master` (at least for now).

[2019-08-08 21:12] adamjstewart commented on #22
I am using a release tarball (5.1.0). Is there any chance you'll cut a new release soon? @s-sajid-ali and I are developers of the [Spack](https://spack.io/) package manager, and `libflame` is one of the many packages in Spack that can provide LAPACK libraries. Spack defaults to the latest stable release of a package by default to prevent bugs and ensure checksum correctness. We can tell people to

[2019-08-08 21:14] fgvanzee commented on #22
@adamjstewart Ah, I see. I didn't realize it would be inconvenient to use a non-release.

I'll look into declaring a release to try to accommodate your needs.

[2019-08-09 18:14] fgvanzee commented on #22
@adamjstewart Version 5.2.0 is tagged and released. Enjoy!

@s-sajid-ali Please try the most recent commit or version. Let me know if that doesn't fix your issues.

[2019-08-10 14:42] s-sajid-ali commented on #22
Confirming that version 5.2.0 builds with old and new versions of gcc on CentOS.

Do you want us to list just 5.2.0 instead of 5.1.0 ?
[code]

[2019-08-10 14:50] #22 closed

[2019-08-10 16:34] fgvanzee commented on #22
Yes, that sounds good. Thanks.

[2019-09-19 04:09] adamjstewart opened #23 "Unable to build on macOS"
I've tried building both the 5.2.0 release as well as the master branch, but nothing will build for me on macOS 10.14.6 with Clang 10.0.1. Every time, I get the following error:
[code]
I'm building with the following configure options:
[code]
For more information, see:

- [build log](https://github.com/flame/libflame/files/3629323/spack-build-out.txt)
- [build env](https://github.com/flame/libflam

[2019-09-19 04:15] adamjstewart opened #24 "Undefined symbols in shared library"
When I try to build either the 5.2.0 release or the master branch on CentOS 7 with either GCC 7.2.0 or Intel 18.0.1, the installation completes, but the resulting library is missing dozens of symbols. The library is also not executable.
[code]
I'm passing the following options to `configure`:
[code]
For additional info, see:

- [build log](https://github.com/flame/libflame/files/3629332/spack-buil

[2019-09-23 19:08] fgvanzee commented on #24
@adamjstewart It looks like all of the undefined symbols are those found in the BLAS. libflame does not try to provide BLAS (at least not by default).

As for the library not being executable, are you referring to the execution bit of the user's file permissions? As in, the third character in `rwxrwxrwx`?

[2019-09-23 19:14] fgvanzee commented on #24
A follow-up on the execution bit issue. I can't seem to reproduce it:
[code]
Notice that `libflame.so` has execute privileges (for user, group, and other).

[2019-09-23 19:43] adamjstewart commented on #24
@fgvanzee Yes, I'm referring to the execution bit. Here are the permissions when I build the master branch:
[code]

Are you saying that `libflame` should be built with `blas` as a dependency, or that it's perfectly normal (and expected) for the library to be missing symbols? I'm trying to build NumPy with common BLAS/LAPACK providers and I'm wondering if NumPy built with only libflame (no BLAS) sh

[2019-09-23 19:45] fgvanzee commented on #24
Hmm, I wasn't installing libflame previously. Once I install it, I see what you mean. So I'll look into that and get back to you.

As for the BLAS dependency: yes, libflame (under normal circumstances) depends on a BLAS library.

[2019-09-23 20:16] fgvanzee commented on #24
@adamjstewart Okay, I've committed 4356779, which will hopefully fix your issue with missing execute bits at install-time.

[2019-09-23 20:26] adamjstewart commented on #24
@fgvanzee That does indeed solve the execute bit problem!

I tried adding a dependency on BLAS, but I still see those undefined symbols, even when I build with RPATH and set LD_LIBRARY_PATH.

[2019-09-23 21:19] adamjstewart commented on #24
For the record, I can build NumPy with BLIS + libflame without any issues. All unit tests pass, and the resulting libraries are linked correctly. I'm still curious why libflame shows all those undefined symbols, but I only needed it for NumPy.

[2019-09-23 21:58] fgvanzee commented on #24
So in the end, you are able to link what you wanted to link? If so, then great; please close this issue at your convenience.

The undefined symbols are likely the result of the fact that we don't make the linker aware that libflame has a secondary dependency on a BLAS library [1]. The reason for this is mostly because there is no standard name for BLAS libraries (e.g. `libblas.so`). Since the name

[2019-09-23 22:01] adamjstewart commented on #24
Thanks, let me try adding something like `CFLAGS=-lblis` to the build.

[2019-09-23 22:18] adamjstewart commented on #24
`LIBS=-lblis` did indeed solve the issue! Thanks for all of your help.

[2019-09-23 22:18] #24 closed

[2019-09-25 17:48] fgvanzee commented on #23
@adamjstewart Give 6dd3c19 a try. This patch adds build system logic from BLIS to (hopefully) use the right linker flags to build shared libraries on OS X / Darwin.

[2019-09-25 19:26] adamjstewart commented on #23
@fgvanzee I'm seeing the following error:
[code]

[2019-09-25 19:29] fgvanzee commented on #23
Thanks, @adamjstewart. Try 0b0ef6d.

[2019-09-25 19:52] adamjstewart commented on #23
Thanks again @fgvanzee, with these commits I can now build `libflame` on macOS! I'll test on Linux and try building NumPy with BLIS/libflame as well.

[2019-09-25 19:52] #23 closed

[2019-09-25 19:55] fgvanzee commented on #23
You're welcome. Thanks for your feedback and patience. (You happened to reach out to us during a busy time of year; we just finished our annual "BLIS Retreat" workshop.)

[2019-09-25 19:56] adamjstewart commented on #7
It's probably safe to close this issue. I just managed to install BLIS and libflame on macOS 10.14.6 using the system Clang 11.0.0 now that #23 has been resolved.

[2019-09-25 19:58] #7 closed

[2019-09-26 21:35] dvdesolve opened #26 "Multiple definition of lsame during compiling with shared version and internal blas"
My system: Arch Linux 64 bit, latest updates, GCC 9.1.0. Configure line:
[code]

Compiling with these settings (two processes for `make` step) gives me the following error at the very end:
[code]

If I configure `libflame` without `--enable-builtin-blas` option then building works just fine and I get both static and dynamic libraries.

How it can be fixed?

[2019-10-01 19:27] fgvanzee commented on #26
@dvdesolve Thanks for bringing this to our attention. I'll look into it.

In the meantime, I want to caution you that the built-in BLAS is **very** slow. Unless you have a really good reason to combine everything in a single library, I would highly recommend that you go with a two-library solution instead: libflame + [BLIS](https://github.com/flame/blis).

[2019-10-01 20:29] dvdesolve commented on #26
The software that needs `libflame` (GAMESS-US) mentions that `libflame` + `BLIS` bindings gives a lot of significant numerical errors. I will re-check with latest GCC compilers (9.1.0) and see if this is true

[2019-10-01 20:35] fgvanzee commented on #26
@dvdesolve Would you be able to contact those folks and ask them how to reproduce those numerical errors? We strive for BLIS to yield "correct" numerical output whenever possible, so if it's something that can be fixed, we definitely want to fix it.

[2019-10-01 20:39] dvdesolve commented on #26
Ok, I will test on my systems and try to contact the GAMESS group. Thank for your efforts!

[2019-10-01 22:09] fgvanzee commented on #26
@dvdesolve The numerical errors referred to above may be specific to the downstream version of BLIS maintained by AMD. I would **highly** encourage you and/or the GAMESS folks to try out our upstream version. AMD may include optimizations that may, in some cases, disrupt numerical behavior in ways that our plain vanilla version does not. (I am in fairly regular contact with the AMD team that manag

[2019-10-02 18:03] fgvanzee commented on #26
@dvdesolve I think I've fixed the `lsame_()` issue. Please try b0936fb and let me know if that works for you. (I started with your `configure` flags, and then tried enabling built-in BLAS, lapack2flame, neither, and both.)

[2019-10-02 19:12] dvdesolve commented on #26
works just fine, thank you! Will test new BLIS soon

[2019-10-02 19:12] #26 closed

[2019-10-08 11:32] dvdesolve commented on #17
I think I've faced the same issue. I'm trying to compile GAMESS with libflame and BLIS. However on linking stage of GAMESS (when BLIS and libflame should be picked up) I have the following errors:
[code]

GAMESS uses static versions of libraries. However, if I add `-llapack` to GAMESS' linker flags them I'm able to get proper executable

[2019-10-08 16:07] fgvanzee commented on #17
@dvdesolve Can you please your configure command line?

[2019-10-08 16:23] dvdesolve commented on #17
I suppose you mean configure line for libflame:
[code]

[2019-10-08 16:27] fgvanzee commented on #17
@dvdesolve I think your problem has an easy fix. The symbols you're missing are those of LAPACK routines. libflame does *not* build the lapack2flame compatibility layer by default. You have to enable it with `--enable-lapack2flame`.

[2019-10-08 16:36] dvdesolve commented on #17
Oh, thank you! It fixed my problem! Just forgot to add this parameter

[2019-10-08 20:50] #17 closed

[2019-10-19 19:04] phu0ngng opened #27 "Configure errors with OpenMP"
Dear libflame developers,

I tried to compile libflame either master branch or v.5.2.0.
For compiling from the source code, I did:
[code]
For installation with spack, I did:
[code]
Both gave the same error:
[code]
Do you have any suggestions?

[2019-10-21 19:40] phu0ngng commented on #27
@fgvanzee
[](url)
[configure_out.txt](https://github.com/flame/libflame/files/3752581/configure_out.txt)
[gcc-9.2.0-modulefile.txt](https://github.com/flame/libflame/files/3752588/gcc-9.2.0-modulefile.txt)
I will keep in mind to not discuss things relate to SPACK.
This is the output from configure and the env_set for gcc.

[2019-10-21 20:34] fgvanzee commented on #27
@phu0ngng Thanks for that output. Here's the line I was looking for:
[code]
I was able to reproduce your issue on my side and fashion a fix in 1188aa4. Please give it a try.

[2019-10-21 20:51] phu0ngng commented on #27
It worked. Thank you.

[2019-10-21 20:52] fgvanzee commented on #27
You're welcome. Thanks for your feedback!

[2019-10-21 20:53] #27 closed

[2019-11-30 07:24] cdluminate opened #28 "make fail: argument list too long"
[code]

what I did:
[code]

misc info
[code]

[2019-11-30 18:02] fgvanzee commented on #28
@cdluminate This is the classic [ARG_MAX issue](https://www.in-ulm.de/~mascheck/various/argmax/). Please try the `--enable-max-arg-list-hack` option to `configure` and let me know if it works. (It usually works for people in your situation.)

[2019-12-01 00:55] cdluminate commented on #28
@fgvanzee it worked. Thanks!

[2019-12-01 01:16] cdluminate commented on #28
@fgvanzee does this look like a sensible default option for distribution package?

[code]

I just noted a `150ms` (~25%) speed gain from libflame for single precision SVD factorization.

[2019-12-01 19:41] fgvanzee commented on #28
@cdluminate Let me get back to you in a day or two on which options make a good set of defaults. (Your options look fine, but there may be one or two additional options you may want to include.)

I'm glad you are observing a speed gain for SVD. And even there, we've left performance on the table because we've not yet updated the givens rotation application for AVX. (BLIS has occupied our attention

[2019-12-04 19:03] fgvanzee commented on #28
@cdluminate In addition to the options you list above, I recommend adding:
[code]
Also, in case it is helpful, I recommend looking at `run-conf/run-configure.sh`. It's a helper script for running `configure`. (By embedding the options in this file, you don't need to remember which options you most recently used.)

[2019-12-05 15:17] cdluminate commented on #28
@fgvanzee great, thanks for the suggestion! I'll get back to you when made further progress about integration into Debian.

[2019-12-06 17:37] kyungminlee opened #29 "`collect2: fatal error: execvp: Argument list too long` error when building dynamic library"
It seems that collect2 still calls execvp with many arguments, even when I use `--enable-max-arg-list-hack` and supply the list of files in a file to the linker. I get the following error message when I try to build libflame on macOS in Homebrew's superenv:

[code]

The configure flags are `--disable-debug --enable-verbose-make-output --enable-dynamic-build --enable-lapack2flame --enable-max-arg-l

[2019-12-06 17:53] fgvanzee commented on #29
@kyungminlee Thanks for your interest in libflame, and for this issue report.

I welcome you to try this out yourself. I don't have convenient access to OS X and thus would not be able to confirm whether this (or any) fix addresses your problem. (I vaguely recall that there is a reason that the static and dynamic targets use different implementations for the `ARG_MAX` hacks, but, I don't remember

[2019-12-06 20:06] kyungminlee commented on #29
The above PR seems to work well.

[2019-12-07 22:17] kyungminlee commented on #29
I wasn't aware that `-force_load` does not work for GNU ld. In linux, it should be `--whole-archive` instead.

[2019-12-09 19:52] #29 closed

[2019-12-16 22:57] kyungminlee opened #32 "linkage problem due to flag order in Makefile"
For proper linkage of the dynamic libraries, LDFLAGS should be placed at the end when linking,
e.g.
https://github.com/flame/libflame/blob/fcdb12b04147d8306e330c1c8e5fd1bda23da54e/Makefile#L588

should write
[code]
and other lines whenever a linker is invoked.

[2019-12-16 23:24] fgvanzee commented on #32
Sounds fine, @kyungminlee. Should this happen for the `ARG_MAX` hack case as well?
https://github.com/flame/libflame/blob/fcdb12b04147d8306e330c1c8e5fd1bda23da54e/Makefile#L583
(Linux case above is shown; there is a Darwin case too.)

[2019-12-17 00:07] kyungminlee commented on #32
Yes. It applies to lines 567, 569, 574, 581, 583, and 588. I've created PR https://github.com/flame/libflame/pull/33

[2019-12-17 19:54] fgvanzee commented on #32
@kyungminlee Is there anything else left for this issue?

[2019-12-18 14:25] kyungminlee commented on #32
@fgvanzee No. This issue has been resolved. I am closing it.

[2019-12-18 14:25] #32 closed

[2019-12-20 15:38] tgastine opened #34 "libflame LAPACK interface: multiple calls within a OMP do loop"
Dear libflame developer,

I aim to compute a series of LU factorisation and solves of dense matricies (basically using dgetrf and dgetrs calls from LAPACK). A minimal example with a small matrix follows

[code]

This piece of code runs fine with LAPACK or the MKL. I also manage to run it fine with LIBFLAME but only with OMP_NUM_THREADS=1. As soon as OMP_NUM_THREADS > 1, the code crashes and yiels

[2020-05-18 15:33] bewantbe commented on #28
This is a problem even when compile in Debian stable (10, buster).
At the step "Archiving lib/x86_64-unknown-linux-gnu/libflame.a" every object file have an extra  "x86_64-unknown-linux-gnu" in its path which makes the command even longer and cause the problem...
The option `--enable-max-arg-list-hack` works. Will it become default in next release?

[2020-05-18 18:12] fgvanzee commented on #28
@bewantbe Are you asking if `--enable-max-arg-list-hack` will be the default in the next upstream release of libflame source, or the next Debian packaging that @cdluminate does?

[2020-05-19 08:23] bewantbe commented on #28
I would like the `--enable-max-arg-list-hack` to be default in the next upstream release of libflame source. People like me come here looking for the latest version of libflame and expecting a fluent compiling experience (at least in mainstream Linux distributions). The error message "Argument list too long" is informative, but it is not obvious that `--enable-max-arg-list-hack` is the solution.

[2020-05-19 14:51] fgvanzee commented on #28
@bewantbe Thanks for clarifying that. I'm not sure if there are any side effects of `--enable-max-arg-list-hack`--I'll have to look into it. I just know that it started out as a workaround that I *really* didn't like at first, perhaps on principle. It's *probably* fully functional.

I'd be open to changing the default on upstream. Would it help if I simply committed the change to `master` but stop

[2020-05-19 17:35] fgvanzee commented on #28
@bewantbe I've committed the change to b112dd8. It will be included in the next release, though I don't know when that will be. But it's ready to use in `master` branch of any `git` clones.

[2020-05-20 14:13] bewantbe commented on #28
@fgvanzee Nice to see that the option enters `master` branch! Thanks for your work.

[2020-06-01 04:36] tuxzz opened #35 "Will `amd/libflame` merge to master?"
Will `amd/libflame` merge to master? Is there any plan?

[2020-06-01 18:55] fgvanzee commented on #35
Not at this time, but that doesn't mean it won't happen. (Honestly, I haven't looked at `amd/libflame`, so I don't know how much there would be to merge or conflict-resolve.)

[2020-08-04 10:02] pradeeptrgit opened #37 "Test any LAPACK compliant APIs"
libFLAME has a test suite under "libflame/test" directory to validate libFLAME APIs. But this test suite is very libFLAME specific as it uses mainly FLA_* APIs.

I wanted to know if there is test suite in libFLAME that can work with any LAPACK compliant library apart from the netlib test which is in FORTRAN.  I was looking something similar to what is in BLIS "test" that supports linking to any BL

[2020-08-31 15:11] VictorEijkhout opened #38 "Please make official release"
Having a release with an actual version number is 1. confidence inspiring 2. good for people who need to keep track of whether an installed version is up to date.

[2020-08-31 15:52] VictorEijkhout opened #39 "Missing power9 configuration"
[code]

[2020-09-08 10:46] srvasanth opened #40 "Netlib Testing Failures"
Testing libFLAME library on Netlib's LAPACK test suite (version 3.4.2 & 3.5.0) results in failures in QR decomposition tests.
The failures are observed in only single and double precision QR test cases and not in complex/double complex tests.
Attached are the test logs with summary of different tests (libFLAME tested on LAPACK test suites and LAPACK tested on LAPACK test suite).

[2020-09-12 14:46] fgvanzee commented on #40
@srvasanth I took a look at your netlib test logs, and I think you can safely ignore these as false failures. libflame uses a different Householder transformation than the one in netlib LAPACK. This results in some different (and in our opinion, superior) linear algebra properties in the output of Householder-based operations such as QR factorization. As long as the libflame testsuite passes for Q

[2020-09-14 12:15] srvasanth commented on #40
Thank you for the reply Mr. Field.
Currently I am in the process of adding LAPACK-3.9.0 updates into libFLAME. For this, the new and updated functionalities from LAPACK have been converted to C using f2c tool. Here, there are similar failures in single/double precision variants of QR, BD (SVD problems), SG (Symmetric Generalized Eigenvalue problems) test cases when tested using LAPACK-3.9.0 test s

[2020-09-14 13:06] rvdg commented on #40
It is important to understand a little bit of the design and structure of libflame.

To develop libflame, we used our signature FLAME methodology for deriving algorithms to be correct and the FLAME C API to represent those codes in C.  The advantage was that, for a large subset of LAPACK functionality, we ended up with code that has exceptional robustness and is exceptionally “easy" to develop and

[2020-09-15 20:21] rvdg commented on #40
Hello,

When I work on the LAPACK layer of libflame, one of the major problems that I encountered is that the house holder transformation is different between libflame and lapack. For a trivial case, lapack often make a short cut to use trivial unitary matrix when it sees all entires of a column (or row) below a diagonal are zeros. On the other hand, libflame constructs a trivial householder trans

[2020-09-16 09:22] srvasanth commented on #40
Thank you Dr. Robert for taking time to address the issue.
I will try to understand the additional functionalities added by lapack 3.9.0 version to see if any functionality as mentioned by Kyungjoo is indeed the cause of failures. Based on that understanding, I will check if one of your suggestions can be taken for further course of action.
Thank you.

[2020-10-12 14:37] surak commented on #24
Where? How?

[2020-10-12 18:56] adamjstewart commented on #24
@surak I added it to the configure line:
[code]
If you use a different BLAS library other than BLIS, you'll need to add the link flag for that specific library.

[2020-10-20 16:20] epsilon-0 opened #41 "LAPACKE symbols in library"
I was wondering if the constructed library `libflame.so` also provides **LAPACKE** symbols in addition to **LAPACK** symbols?

Given that this is a C library, it makes sense to have both.

Thanks,
Aisha

[2020-10-25 05:54] pradeeptrgit opened #42 "Crash in SVD computation"
Hi,

There is a crash observed when libflame API **DGESDD** is invoked for the attached dataset. Size 143x143. The computation is resulting in denormal numbers and finally crash occurs.

[dgesvd_143.txt](https://github.com/flame/libflame/files/5434219/dgesvd_143.txt)

[2020-10-26 15:42] moravveji opened #43 "Unknown OpenMP flags for clang"
Hey guys

I am trying to build libFLAME on our AMD Naples machines using the AOCC v.2.2.0 compilers (clang, clang++, flang). We run CentOS 7.8 on our compute nodes.

Here is the `configure` options that I pass:
[code]
However, I get the following complaint over OpenMP flags:
[code]
I have played with the `cflags` and `fflags` variables above, e.g. with/without `-fopenmp`, or `-fopenmp=libomp` or `

[2020-11-05 17:35] moravveji commented on #43
A gentle reminder about this issue.

[2020-11-07 16:11] dnparikh commented on #43
Clang does not support openmp. Use pthreads instead.

[2020-11-12 01:51] rkingsbury opened #44 "Function or conditional branch/case not yet implemented."
I recently compiled [nwchem](https://nwchemgit.github.io/) using libflame in place of LAPACK. When trying to run a simple calculation, execution fails with

[code]

Clearly the program is trying to do something not yet implemented in libflame. But my understanding is that libflame fully supports the LAPACK specification as of v2.1, so I'm a bit confused about how to interpret this message.

I comp

[2020-11-13 01:00] fgvanzee commented on #44
@rkingsbury Thanks for this report, and sorry for your troubles. Another user has [reported this issue](https://groups.google.com/g/libflame-discuss/c/tQXNQYd-EVE/m/gf0kdBgYDgAJ).

I don't think the error has anything to do with it being AMD's packaging of libflame. I think the problem is here, upstream.

You are right that in principle, this use case should be supported. However, clearly it is no

[2020-12-07 09:24] srvasanth opened #45 "Accuracy issue in SVD API "SGESDD ""
Hi,
We are observing few failures in one of our customer applications using libFLAME and BLIS for SVD API “SGESDD”. The outputs of singular values S and the  Orthogonal matrix U are differing from expected output. The tests pass with OpenBLAS and MKL libraries' outputs for the same API.

Input Matrix A Size : 9 x 100
Input values: {1}  **->** All 1s
Parameters:
JobZ : ‘O’
M : 9
N : 100
LDA : 9
LDU

[2020-12-07 10:18] pradeeptrgit commented on #43
Hi,

You can try adding following line in the 'configure' file to include -fopenmp option for clang
                                **clang)
                        fla_c_openmp_flags='-fopenmp'
                ;;**

                { $as_echo "$as_me:${as_lineno-$LINENO}: checking for (guessing) OpenMP flags for ${CC_VENDOR}" >&5 $as_echo_n "checking for (guessing) OpenMP flags for ${CC_VENDOR}..

[2021-03-12 10:09] boegel commented on #45
We saw a couple of failing `numpy` tests across a variety of CPUs (Haswell, Skylake, Zen2) when trying to build `numpy` 1.19.4 on top of latest BLIS (0.8.0) and libFLAME (5.2.0) and GCC 10.2, an example is below.

We're not seeing those failing tests when using OpenBLAS (0.3.12) with the LAPACK it ships, or with Intel MKL (2020 update 4).

If we use BLIS 0.8.0 + reference LAPACK 3.9.0, then there

[2021-03-12 12:17] akesandgren opened #46 "Segmentation fault - invalid memory reference when running Netlib LAPACK 3.9.0 xlintsts"
Hi!

I know that this is somewhat one the wrong side of the bleeding edge for libFLAME, but in the process of investigating BLIS+libFLAME as the main blas/lapack libs for EasyBuilds foss toolchain I got hit by this.

Building libFLAME through EasyBuild using the gobff/2020b toolchain.
I.e., GCC is 10.2.0

Building Netlib lapack tmglib (and ref lapack lib) and testing files with:
-O0 -frecursive -s

[2021-03-14 19:18] fgvanzee commented on #45
Unfortunately SVD in libflame is not easy to debug because it uses a completely different algorithm than the one in LAPACK. So for now, I'll encourage you both to use netlib LAPACK + BLIS as your workaround. Apologies for the inconvenience.

[2021-03-14 19:23] fgvanzee commented on #46
@akesandgren Thanks for this report, but it's not really clear to me how to go about trying to reproduce. Could you provide some details in that regard?

[2021-03-14 19:35] boegel commented on #45
@fgvanzee That's indeed the alternative approach we're going forward with, we've also seen some other problems with libFLAME (like #46).

[2021-03-15 07:28] akesandgren commented on #46
The easy way is,
[code]

[2021-03-15 18:49] boegel commented on #45
Perhaps related to this: AMD has just released a new version of their libFLAME fork, see https://github.com/amd/libflame/releases/tag/3.0, which mentions in the release notes "Several bug fixes including handling denormal numbers in SVD functions".

I'm not sure those fixes are related to this issue, but it seems like they could be...

I'll try and find time to take that new AMD-libFLAME version f

[2021-05-05 13:20] stefanozampini opened #48 "Macros with general names in Flame.h break compilation"
With a configuration like
`./configure --enable-arg-max-hack --enable-lapack2flame`
we currently get a lot of non-namespaced defines when including Flame.h in a source code

Specifically, the min define breaks compilation with GCC 10.2
[code]

Here is a list of the most interesting ones. Is it possible to namespace them?
[code]

[2021-06-04 12:33] haampie opened #49 "Please create a new official release"
Hello, I spend a bit of time trying to figure out why libflame did not build for me, only to realize I hit the bug where using absolute paths in `CC=/absolute/path/to/gcc` instead of `CC=gcc` would fail to guess the openmp flags.

This bug was fixed in 2019 https://github.com/flame/libflame/commit/1188aa457191415ad54132115d3721543a52cd47

Can you please create a new release so that no more develop

[2021-06-10 05:42] burgi-berlin opened #51 "Is there a progress function, e.g. for factorization functions?"
It would be nice, especially for big problems, if there was a callback progress routine for the LAPACK functions (comparable to the mkl_progress function of the Intel MKL) to be able to inform the user.
If there is already such a function in the "depths of the code", I would be very grateful for an info.

[2021-06-16 13:02] dev-zero commented on #34
Although I have to admit we're using the AMDs libflame-fork, I see the same error when calling `dpotrf` from multiple threads as being done by [CP2K](https://cp2k.org):

[code]

And here is `mathlib.F:602`

https://github.com/cp2k/cp2k/blob/3c81dfb14877e2dca5ed75034aede06b886d942b/src/common/mathlib.F#L601-L606

[2021-06-16 13:04] dev-zero commented on #34
another error from the same function:

[code]

[2021-06-17 06:55] srvasanth commented on #34
Hi, I am Vasanth, part of libFLAME developer team in AMD.
can you please confirm the release version of libFLAME you are using and the configure options that you used while building the libFLAME?

[2021-06-17 07:26] dev-zero commented on #34
@srvasanth thanks for the quick follow-up! I've been using Spack to build libflame, this is the spec:

[code]

which according to the Spack package translates to:

[code]

The patch you're seeing there is from this PR: https://github.com/flame/libflame/pull/52 (see also https://github.com/spack/spack/pull/24358).

The full Spack spec to install CP2K with the AMD toolchain was:

[code]
tested on th

[2021-06-17 08:02] srvasanth commented on #34
@dev-zero the option --enable-supermatrix in the configure command enables multi-threading inside libFLAME and more importantly it disables thread safety features of libFLAME. This should be the one causing the issue. I will get back to you sooner on how to avoid this.

Thanks

[2021-06-17 08:15] dev-zero commented on #34
@srvasanth ok, this would be bad since we have packages in our dependency chain which seemingly require that to be enabled (but maybe it is a misunderstanding what `threads=openmp` in the context of Spack does: for OpenBLAS for example one has to enable it to get thread-safety). Interestingly most of our tests succeed (and we most definitely also call other routines from OMP-parallel regions), ind

[2021-06-17 09:28] dev-zero commented on #34
This is the log with the CP2K regtests with a debug-enabled amdlibflame: [error_summary.txt](https://github.com/flame/libflame/files/6669042/error_summary.txt) which contains the symbols inside amdlibflame for better traceback.

[2021-06-17 12:13] srvasanth commented on #34
Hi @dev-zero , can you please try without the 'threads=openmp' setting for your sample code? As you mentioned, it may be the confusion in using that flag that is causing the issue. Thanks

[2021-06-29 10:25] dev-zero commented on #34
@srvasanth sorry for the late reply. I can confirm: with `threads=none` (e.g. no openmp threading in amdlibflame enabled) all our tests succeed. Will this be fixed at some point in the sense that those routines will also work with threading enabled? Point being that our code uses BLAS/LAPACK in various code paths, some of them with threading, some of them without, hence we'd likely profit from thr

[2021-07-28 15:27] Stonesjtu opened #53 "Any up-to-date examples on basic operations such as GEMM?"
The existing examples are so old and contains some un-expected library dependencies like in `examples/Gemm` folder.

[2021-09-10 13:07] assaad opened #54 "Lapack dsyevr"
Hello I would like to use the lapack method: dsyevr
In the flame implementation there is a method **dsyevr_** which takes all arguments as pointers (unlike the original lapack method).
Is there a better C interface to use for EVD, QR, LU decomposition?
Many thanks

[2021-10-22 06:08] liu-shaobo opened #55 "libflame.a.in: No such file or directory"
CentOS-7.6
GCC-7.3
libflame-3.0.1 https://github.com/amd/libflame
./configure --prefix=/usr/local/libflame --enable-lapack2flame --enable-cblas-interfaces --enable-max-arg-list-hack
make -j
The error is as follows，What is the reason：
Compiling src/lapack/util/app/qutinc/lhfc/flamec/FLA_Apply_Q_UT_inc_lhfc_blk_var1.c
Compiling src/lapack/util/app/qutinc/lnfc/flamec/FLA_Apply_Q_UT_inc_lnfc_blk_var1.

[2021-12-17 08:17] srvasanth commented on #34
Hi @dev-zero, sorry for the late reply. The current threading feature in amdlibflame is an experimental feature and can be used only through native libflame interfaces. Hence it won't be useful for accelerating applications using LAPACK Fortran interfaces. The current recommended setting for amdlibflame is to disable threading. Threading benefits amdblis and there we can enable threading. Hope thi

[2021-12-20 06:46] dev-zero commented on #34
@srvasanth thanks a lot for the clarification. Will keep the threading in amdlibflame disabled for now. Interestingly it seems that despite the functionality supposedly available only via the libflame native interface, building amdlibflame with threads and then running via the LAPACK interface breaks my calculations (I haven't tried with the latest version of amdlibflame, though).

[2022-01-24 11:21] VTVISHWANATH commented on #28
root@techievish-VirtualBox:/home/techievish/Downloads/Evolution-X-11/scripts/evo# . build/envsetup.sh
including vendor/evolution/vendorsetup.sh
root@techievish-VirtualBox:/home/techievish/Downloads/Evolution-X-11/scripts/evo# lunch evolution_juice-userdebug
[W][2022-01-24T15:01:11+0530][2917] void cmdline::logParams(nsjconf_t *)():250 Process will be UID/EUID=0 in the global user namespace, and wi

[2022-01-24 11:25] VTVISHWANATH commented on #28
*I am compiling and building a EvolutionX Custom ROM. And getting "argument list too long" error. I dont know which configure file has to be changed can someone help me?**

[2022-02-22 08:22] texnokrates commented on #41
It does not, apparently. And indeed, it would be nice to (optionally) have them (for me, this is currently the main obstacle for using flame with my own project). But maybe you can just build netlib's lapacke and link it to flame (I am probably going to try that at some point).

[2022-04-22 11:34] zhouych87 commented on #55
I met the same problem. Have u solved this problem?

Here is my cmd to install:

`git clone https://github.com/amd/libflame
cd libflame
CC=clang CXX=clang++ FC=flang ./configure  \
--enable-lapack2flame --enable-max-arg-list-hack  \
--prefix=/opt/amd/libflame
make -j4`

gives:

Compiling src/lapack/util/app/qutinc/lhfc/flamec/FLA_Apply_Q_UT_inc_lhfc_blk_var1.c
Compiling src/lapack/util/app/qutinc/

[2022-06-06 15:35] longerzone commented on #55
get same error with spack:
`spack -d install -v amdlibflame@3.1 +ilp64 %aocc@3.2.0`

install succed with "amdlibflame@3.0".

[2022-08-27 21:49] neil-lindquist commented on #55
I also ran into this issue and was able to fix it by upgrading `make`.
The libflame makefile uses the [file function](https://www.gnu.org/software/make/manual/html_node/File-Function.html#File-Function), but that wasn't added to GNU make until version 4.0.

[2022-10-04 16:51] lukebroskop opened #81 "Build support for Cray programming environment"
Hi, in order to build libflame with Cray's compiler wrappers (CC/cc/ftn or crayCC,craycc,crayftn) I need to apply the following patch to `configure`:

[code]
would it be possible to make these changes upstream?

[2022-10-04 16:52] lukebroskop commented on #81
@iotamudelta

[2022-10-04 16:52] lukebroskop commented on #81
@fgvanzee

[2022-10-04 17:04] fgvanzee commented on #81
@lukebroskop
[code]
Would `craycc` work here instead? Or does it need to be `cc`? (This `case` statement uses the "compiler vendor" variable, mind you, not the variable with the actual name of the compiler. And the first part of your patch seems to support `craycc`.)

[2022-10-04 17:05] fgvanzee commented on #81
Or maybe you want to support both `cc` and `craycc` vendor names?

[2022-10-04 17:18] lukebroskop commented on #81
I'm trying to build with spack and here is what $CC is:
[code]
I don't know a good way to handle this. Perhaps if there was a configure options that would allow us to override the OpenMP compiler flag?

[2022-10-04 17:29] fgvanzee commented on #81
Oh, hmm. I just realized that libflame is really dumb about the way it checks for cc_vendor. BLIS looks at the actual output from `--version`, I think. But here, we just parse the name.

[2022-10-04 17:30] fgvanzee commented on #81
I think *very* few people compile with `cc`, and those that do can probably use `-fopenmp`, so I'm fine proceeding with your patch, I think.

[2022-10-04 17:36] fgvanzee commented on #81
@lukebroskop There you go. Give it a try!

[2022-10-04 18:05] lukebroskop commented on #81
@fgvanzee That did it. Thanks for the quick turnaround!

[2022-10-04 18:05] #81 closed

[2022-11-22 13:58] rlKoekie commented on #55
Thank you!